*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
}

.lock{
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1352px;
}

h1{
    font: normal normal 900 84px/100px Poppins;
    letter-spacing: 0px;
    color: #2A2A2A;
}
h2{
    font: normal normal 900 64px/95px Poppins;
    color: #2A2A2A;
}

h3{
    font: normal normal bold 24px/35px Poppins;
    letter-spacing: 0px;
    color: #2A2A2A;
}


/* Header */
.header{
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
}
.header__body{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position: relative;
    z-index: 4;
}

.logo__img{
    width: 208px;
}

.menu__nav{
    padding-left: 65px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
}

li{
    margin-right: 35px;
    margin-left: 35px;
    list-style: none;
}

.menu__nav-link{
    font: normal normal bold 18px/27px Poppins;
    color: #2A2A2A;
    text-transform: uppercase;
}

.menu__button{
    padding: 8px 32px;
    font: normal normal bold 18px/27px Poppins;
    color: #2A2A2A;
    background: #00B3FA 0% 0% no-repeat padding-box;
    border-radius: 10px;
}
.menu__button:hover{
    background-color: #00a0df;
}

.burger{
    display: none;
}

.burger__1{
    margin: 6px 0 6px;
    width: 36px;
    height: 6px;
    background-color: #00B3FA; 
    border-radius: 40px;
    transition: all 0.3s ease;
}

.burger__2{
    margin: 6px 0 6px;
    margin-left: 8px;
    width: 26px;
    height: 6px;
    background-color: #00B3FA; 
    border-radius: 40px;
    transition: all 0.3s ease;
}

.burger__3{
    margin: 6px 0 6px;
    width: 36px;
    height: 6px;
    background-color: #00B3FA; 
    border-radius: 40px;
    transition: all 0.3s ease;
}


/* Home */
.home{
    margin-bottom: 100px;
    width: 100%;
    height: 604px;
    background-image: url('../images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home__body{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.home__body-text{
    margin-top: 82px;
}

.home__body-text__p{
    margin: 20px 0 28px;
}

.home__body-text__btn{
    padding: 8px 26px;
    font: normal normal bold 18px/27px Poppins;
    color: #2A2A2A;
    background: #F6E224 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.home__body-text__btn:hover{
    background-color: #deaa00;
}

.home__body-img{
    max-width: 625px;
}


/* Ingredients */
.ingredients{
    margin-bottom: 100px;
    padding-top: 50px;
}

.ingredients__body-h2{
    text-align: center;
}

.ingredients__body-h3{
    margin: 20px auto 50px;
    max-width: 690px;
    text-align: center;
}

.ingredients__body-swiper{
    position: relative;
}

.blurry1{
    position: absolute;
    top: -16px;
    left: -1px;
    z-index: 3;
    width: 184px;
    height: 302px;
    background: transparent linear-gradient(270deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}

.blurry2{
    position: absolute;
    top: -16px;
    right: -1px;
    z-index: 3;
    width: 184px;
    height: 302px;
    background: transparent linear-gradient(270deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}

.swiper-wrapper{
    padding: 10px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients__card{
    width: 229px;
    height: 242px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    position: relative;
}

.ingredients__card-img1{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 194px;
}

.ingredients__card-img2{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 152px;
}

.ingredients__card-img3{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 138px;
}

.ingredients__card-text{
    font: normal normal bold 18px/27px Poppins;
    color: #2A2A2A;
    position: absolute;
    bottom: 20px;
    left: 38%;
}

.ingredients__body-cards{
    display: none;
}

.ingredients__body-text{
    margin: 50px auto 0;
    max-width: 894px;
    font: normal normal normal 18px/27px Poppins;
    color: #2A2A2A;
    text-align: center;
}


/* Story */
.story{
    margin-bottom: 150px;
    padding-top: 50px;
}
.story__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story__body-title{
    margin-right: 50px;
    width: 50%;
}

.story__body-title__h3{
    margin: 20px 0 40px;
}

.story__body-title__p{
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;
    color: #2A2A2A;
}

.story__body-img{
    max-width: 635px;
    width: 50%;
}


/* Burgers */
.burgers{
    margin-bottom: 108px;
}

.burgers__body{
    display: block;
}

.burgers__body-h2{
    padding-bottom: 50px;
    text-align: center;
}

.burgers__body-cards{
    margin-bottom: 58px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card{
    padding: 20px;
    margin: 0 10px;
    width: 440px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    position: relative;
}

.card__p{
    text-align: center;
}

.card__img{
    padding-top: 60px;
    padding-bottom: 87px;
    margin: 0 auto;
    max-width: 220px;
}

.card__det{
    font: normal normal bold 18px/27px Poppins;
    color: #008BF6;
    border: 0;
    background: transparent;
    cursor: pointer;

    position: absolute;
    bottom: 20px;
    right: 20px;
}
.details-text-1{
    position: relative;
    top: -46px;
    transition: all 0.3s ease;
}
.details-text-2{
    position: relative;
    top: -46px;
    transition: all 0.3s ease;
}
.details-text-3{
    position: relative;
    top: -46px;
    transition: all 0.3s ease;
}

.burgers__body-btn{
    text-align: center;
}

.burgers__body-btn__link{
    padding: 8px 32px;
    font: normal normal bold 18px/27px Poppins;
    color: #2A2A2A;
    background: #00B3FA 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.burgers__body-btn__link:hover{
    background-color: #00a0df;
}


/* Location */
.location{
    padding-top: 50px;
    margin-bottom: 150px;
}

.location__body-h2{
    text-align: center;
}

.location__body-info{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.locat__h3{
    padding: 0 15px;
}

.locat__p{
    padding: 0 15px;
    font: normal normal normal 24px/35px Poppins;
    color: #2A2A2A;
}

.location__body-img{
    margin: 0 auto;
    max-width: 860px;
}


/*Footer*/
.footer{
    padding: 15px 0;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}
.footer__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__body-logo{
    max-width: 208px;
}

.footer__h4{
    font: normal normal bold 14px/21px Poppins;
    color: #2A2A2A;
    text-align: right;
}

.footer__p{
    font: normal normal normal 14px/21px Poppins;
    color: #2A2A2A;
    text-align: right;
}





@media screen and (max-width: 1200px){
    /* Header */
    .menu__nav{
        margin-right: 0px;
    }
    li{
        margin-right: 10px;
    }

}

@media screen and (max-width: 992px){
    h1{
        font: normal normal 900 64px/80px Poppins;
    }
    h2{
        font: normal normal 900 44px/75px Poppins;
    }
    h3{
        font: normal normal bold 20px/30px Poppins;
    }

    /* Header */
    .header__body {
        padding: 10px 0;
    }
    .menu__nav{
        position: fixed;
        bottom: 130%;
        left: 0;
        z-index: 2;
        text-align: center;
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 0px;

        transition: all .3s linear;
    }
    .menu__nav-item{
        position: relative;
        top: 40%;
        left: 0;
    }
    ul{
        display: block;
    }
    li {
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .active{
        bottom: 0;
    }
    .menu__button{
        position: relative;
        top: 40%;
        left: 0;
    }
    .burger{
        display: block;
        position: relative;
        z-index: 10;
    }
    .active .burger__1{
        transform: rotate(-45deg);
        position: relative;
        top: 0;
    } 
    .active .burger__2{
        display: none;
    } 
    .active .burger__3{
        transform: rotate(45deg);
        position: relative;
        top: -12px;
    } 

    /* home */
    .home__body {
        align-items: center;
    }
    .home__body-text {
        margin-top: 0px;
        width: 40%;
    }
    .home__body-img {
        width: 60%;
    }

    /* Story */
    .story__body{
        display: block;
    }
    .story__body-title{
        width: 100%;
        text-align: center;
    }
    .story__body-img{
        margin: 30px auto 0;
        width: 100%;
    }
    /* Burgers */
    .burgers__body-cards {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 20px;
    }
    /*Location */
    .locat__p{
        font: normal normal normal 20px/30px Poppins;
    }
}


@media screen and (max-width: 768px){
    .lock{
        overflow: hidden;
    }
    .logo__img {
        width: 182px;
    }
    /* Home */
    .home {
        height: auto;
    }
    .home__body {
        display: block;
    }
    .home__body-text {
        width: 100%;
    }
    .home__body-img {
        margin: 60px auto 0;
        width: 100%;
    }

    /*Ingredients*/
    .blurry1 {
        width: 80px;
        height: 280px;
    }
    .blurry2 {
        width: 80px;
        height: 280px;
    }

    /* Location */
    .location__body-info {
        display: block;
    }
    .footer__body-logo {
        max-width: 182px;
    }
  
}

@media screen and (max-width: 470px){
    .ingredients__body-swiper{
        display: none;
    }
    .ingredients__body-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ingredients__card{
        margin-top: 20px;
    }
}